<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header-container">
             <div class="col-1">

            @using (Html.BeginForm("ChangeCulture", "Song"))
            {
                <select name="lang" id="form-control">
                    <option value="ru">Русский</option>
                    <option value="uk">Українська</option>
                </select>
                <div>
                <input id="inputSel" type="submit" name="submit" value="@Resources.Resource.ChooseLang" class="btn">
                </div>
            }
             </div>
            
             <nav>
                 <div class="ndb">
                <a id="link-1" class="navbar-brand btn-new" asp-area="" asp-controller="Song" asp-action="Index">@Resources.Resource.Home</a>
			      </div>
                 <div class ="ndb">
                <a id="link-2" class="navbar-brand btn-new" asp-area="" asp-controller="Users" asp-action="Create">@Resources.Resource.Registration</a>
                  </div>
                  <div class="ndb">
                    @if (@Context.Session.GetString("Name") == null)
                     {
                    <a id="link-3" class="navbar-brand btn-new" asp-area="" asp-controller="Users" asp-action="Logon">@Resources.Resource.Entrance</a>
                     }
                    else
                     {
                    <a id="link-3" class="navbar-brand btn-new" asp-area="" asp-controller="Home" asp-action="Logout">@Resources.Resource.Exit</a>

                     }
                  </div>
			</nav>    
          
      
            <div class="panel-user">
               @if (@Context.Session.GetString("Name") != null)
              {
                <p class="user-panel" style="text-align:right; font-weight: bold; margin:5px; color:darkred;">@Resources.Resource.User_panel</p>
                <p class="user-panel-1" style="text-align:center; margin:5px">@Resources.Resource.Hello @Context.Session.GetString("Name")!</p>
                <p style="visibility: hidden; "></p>
                <p class="user-panel" style="display:inline; margin:5px">@Resources.Resource.Login:</p>
                <p class="user-panel-1" style="margin:5px"> (@Context.Session.GetString("Login"))</p>
                <p style="visibility: hidden;"></p>
                <p class="user-panel" style="display:inline;">@Resources.Resource.Status:</p>
                if (@Context.Session.GetInt32("Admin") == 1)
                {
                    <p class="user-panel-1">@Resources.Resource.Administrator</p>
                }
                else
                {
                    <p class="user-panel-1">@Resources.Resource.User</p>
                }
                <p style="visibility: hidden;"></p>
                <a class="navbar-brand btn-new" asp-controller="Users" asp-action="EditUser" asp-route-id="@Context.Session.GetInt32("Ident")">@Resources.Resource.Edit</a>
            }
            else
            {
                <p class="user-panel" style="text-align:right; font-weight: bold; margin:5px; color:darkred;">Регистрация дает <br /> больше возможностей</p>
            }
        </div>       
    </header>
   
    <div class="index-bg" style="background-image: url('/images/background.jpg');">
        <div id="index-col-1">
           
          
        </div>
        <main id="index-col-2" role="main" >
          
            @if (@Context.Session.GetInt32("Admin") == 1)
            {  
             <div id="admin-panel">
                    <a class="navbar-brand btn-new" asp-controller="Users" asp-action="Index">@Resources.Resource.Users</a>
                    <a class="navbar-brand btn-new" asp-controller="Genre" asp-action="Index">@Resources.Resource.Genres</a>
                    <a class="navbar-brand btn-new" asp-controller="Song" asp-action="Index">@Resources.Resource.Songs</a>
			 </div>
                <hr/>
            } 
         <div id="render-div">
            @RenderBody()
          </div>
        </main>
        <div id="index-col-3"></div>
    </div>
    <div style="height: 7px"></div>
    <footer class="footer">
       <div class="container">
            &copy; 2024 - MusicPortal all rights reserved!
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

