<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header-container">
      <div class="col-1">
        <nav>
           <ul>
               <li class="nav-item">
                        <a id="link-1" class="navbar-brand mylink" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                    <li class="nav-item">
                        <a id="link-2" class="navbar-brand mylink" asp-area="" asp-controller="Users" asp-action="Create">Регистрация</a>
                    </li>
                    <li>
                        @if (@Context.Session.GetString("Name") == null)
                            {
                                <a id="link-3" class="navbar-brand mylink" asp-area="" asp-controller="Users" asp-action="Logon">Войти</a>
                            }
                            else
                            {
                                 <a id="link-3" class="navbar-brand mylink" asp-area="" asp-controller="Home" asp-action="Logout">Выйти</a>
                            
                            }
                    </li>
           </ul>
	    </nav>
       </div>	    
     <div class="col-2">           
     </div>
	
    </header>
    <div class="index-bg">
        <div id="index-col-1">
            @if (@Context.Session.GetString("Name") != null)
            {
                <p class="user-panel" style="text-align:center;">Панель пользователя</p>
                <hr />
				<p class="user-panel-1" style="text-align:center;">Привет @Context.Session.GetString("Name")!</p>
                <p></p>
                <p class="user-panel" style="display:inline;">Логин:</p>
                <p class="user-panel-1" > (@Context.Session.GetString("Login"))</p>
                <hr />
                if (@Context.Session.GetInt32("Admin") == 1)
                {
                    <p class="user-panel" style="display:inline;">Статус:</p>
                    <p class="user-panel-1">администратор</p>
                    
                }
                else
                {
                    <p class="user-panel" style="display:inline;">Статус:</p>
                    <p class="user-panel-1" >пользователь</p>
                    <form asp-action="Edit" asp-controller="Users">
                        <button class="btn-new">Редактировать профиль</button>
                    </form>
                }
               
            }
        </div>
        <main id="index-col-2" role="main">
            @RenderBody()
        </main>
        <div id="index-col-3"></div>
    </div>
    <div style="height: 7px"></div>
    <footer class="footer">
       <div class="container">
            &copy; 2024 - MusicPortal all rights reserved!
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

