@model Portal.BLL.DTO.GenreDTO


<div class="myform">
    <h4>Внимание! Также будут удалены все песни этого жанра. Удалить жанр?</h4>
    <hr />
    <dl class="row">       
        <dd class = "col-sm-10" style="display:none">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>    
    <form asp-action="Delete">
        <input type="submit" value="@Resources.Resource.Delete" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn">@Resources.Resource.Cancel</a>
    </form>
</div>
