@model IEnumerable<Portal.BLL.DTO.GenreDTO>
@if (@Context.Session.GetInt32("Admin") == 1)
{
    <div class="list-style-div">
        <div>
            <a asp-action="Create" class="btn">@Resources.Resource.Add_genre</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="visibility:hidden;">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Resources.Resource.Name;
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="visibility:hidden;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>                       
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" title="@Resources.Resource.Delete" style="height:20px; width:20px;">
                                <img src="~/images/delete-icon.png" alt="download">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
