@model IEnumerable<Portal.BLL.DTO.UserDTO>
@if (@Context.Session.GetInt32("Admin") == 1)
{
    <div class="list-style-div">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">@TempData["Message"]</div>
        }
        <div>
            <a asp-action="Create" class="btn">@Resources.Resource.Create_user</a>
            <a asp-action="Confirm" class="btn">@Resources.Resource.Registration_requests</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="visibility:hidden;">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Resources.Resource.UserName
                    </th>
                    <th>
                        @Resources.Resource.Login
                    </th>
                    <th>
                        @Resources.Resource.Administrator
                    </th> 
                    <th>
                        @Resources.Resource.Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="visibility:hidden;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginMail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusAdmin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReg)
                        </td>
                        <td>
                            <a asp-action="EditAdmin" asp-route-id="@item.Id" title=@Resources.Resource.Edit style="height:20px; width:20px;">
                                <img src="~/images/edit-icon.png" alt="download">
                            </a> <span> | </span>
                            <a asp-action="Delete" asp-route-id="@item.Id" title=@Resources.Resource.Delete style="height:20px; width:20px;">
                                <img src="~/images/delete-icon.png" alt="download">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
