@model IEnumerable<Portal.BLL.DTO.UserDTO>

<p>
    <a asp-action="Create">@Resources.Resource.Create_user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="visibility:hidden;">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Resources.Resource.UserName
            </th>
            <th>
                @Resources.Resource.Login
            </th>
            <th>
                @Resources.Resource.Administrator
            </th>
            <th>
                @Resources.Resource.Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td style="visibility:hidden;">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusAdmin)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.DateReg)
            </td>
            <td>
                    @Html.ActionLink(@Resources.Resource.Confirm, "RegisterConfirm"/* , new { id = item.Id } */)
                    @Html.ActionLink(@Resources.Resource.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
